.wp-c-h1 .wp-heading-sub {
  display: block;
  font-size: 0.62em;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  opacity: .7;
}

.wp-c-h1 .wp-heading-highlight {
  background: #fff000;
  padding: 4px 8px;
  border-radius: 6px;
}

.wp-c-h2 .wp-heading-sub {
  display: block;
  font-size: 0.62em;
  font-weight: 500;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  margin-bottom: 0.4em;
  opacity: .7;
}

.wp-c-h2 {
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline #f00;
  color: #333;
}