.wp-c-s1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.wp-c-s1 {
  height: 80px;
}

@media (max-width: 1024px) {
.wp-c-s1 {
  height: 40px;
}
}

@media (max-width: 767px) {
.wp-c-s1 {
  height: 20px;
}
}