@layer sky-base, sky-plugin, sky-auto, sky-theme, sky-local;

@layer sky-base {
body {
  container-name: sky-theme;
}

.sky-c-s1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.sky-c-s1 {
  height: 80px;
}

@media (max-width: 1024px) {
.sky-c-s1 {
  height: 40px;
}
}

@media (max-width: 767px) {
.sky-c-s1 {
  height: 20px;
}
}
}

@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}