@layer wp-base, wp-plugin, wp-auto, wp-theme, wp-local;

@layer wp-base {
body {
  container-name: wp-theme;
}

.wp-c-s1 {
  margin-top: 10px;
  margin-bottom: 20px;
}

.wp-c-s1 {
  height: 80px;
}

@media (max-width: 1024px) {
.wp-c-s1 {
  height: 40px;
}
}

@media (max-width: 767px) {
.wp-c-s1 {
  height: 20px;
}
}
}